<!-- Music Player -->
<div data-controller="music--player" class="relative flex flex-col w-full">
  <!-- Settings Menu (positioned absolutely over banner) -->
  <div class="absolute z-50" style="top: 1rem; right: 1rem;">
    <%= render partial: "zuke/components/player/settings_menu" %>
  </div>

  <!-- Banner Section -->
  <!-- This partial will change the default banner image to the song's or playlist's image -->
  <%= render "zuke/components/player/banner",
             banner_image: @banner_image,
             title: @banner_title,
             subtitle: @banner_subtitle %>

  <div class="flex justify-center items-center bg-black text-white p-2 md:p-4">
    <div class="flex items-center w-full max-w-4xl gap-4">
      <%= render "zuke/components/player/time_display" do %>
        <div class="flex flex-col flex-1 md:w-96 md:flex-initial min-w-0">
          <div class="mx-auto w-full" data-music--player-target="waveform"></div>
          <div class="h-1 bg-gray-700 relative">
            <div data-music--player-target="loadingProgress"
                class="absolute top-0 left-0 h-full bg-lime-500 transition-all duration-300"
                style="width: 0%">
            </div>
          </div>
        </div>
      <% end %>

      <div class="hidden md:flex items-center flex-shrink-0">
        <!-- Replace the old buttons with: -->
        <%= render "zuke/components/player/playback_controls", playing: @playing %>
      </div>
    </div>
  </div>

  <!-- Credits Section -->
  <%= render "zuke/components/player/credits" %>
</div>