<div data-controller="music--smart-image"
     data-music--smart-image-id-value="<%= song[:id] %>"
     data-music--smart-image-url-value="<%= song[:url] %>"
     data-music--smart-image-title-value="<%= song[:title] %>"
     data-music--smart-image-artist-value="<%= song[:artist] %>"
     data-music--smart-image-banner-value="<%= song[:banner] %>"
     data-music--smart-image-grid-banner-value="<%= song[:grid_banner] %>"
     data-music--smart-image-banner-mobile-value="<%= song[:bannerMobile] %>"
     data-music--smart-image-banner-video-value="<%= song[:bannerVideo] %>"
     data-music--smart-image-image-credit-value="<%= song[:imageCredit] || '' %>"
     data-music--smart-image-image-credit-url-value="<%= song[:imageCreditUrl] || '' %>"
     data-music--smart-image-image-license-value="<%= song[:imageLicense] || '' %>"
     data-music--smart-image-audio-source-value="<%= song[:audioSource] || '' %>"
     data-music--smart-image-audio-license-value="<%= song[:audioLicense] || '' %>"
     data-music--smart-image-additional-credits-value="<%= song[:additionalCredits] || '' %>"
     data-music--smart-image-waveform-url-value="<%= song[:waveformUrl] || '' %>"
     data-music--smart-image-duration-value="<%= song[:duration] || 0 %>">

  <% if song[:grid_banner].present? %>
    <%= image_tag song[:grid_banner],
        class: "rounded-lg w-full aspect-square object-cover border-2 border-gray-200 cursor-pointer hover:border-sky-400 transition-colors",
        alt: "Album cover for: #{song[:title]}",
        aria: { label: "Album cover for: #{song[:title]}" },
        data: {
          music__smart_image_target: "playButton",
          action: "click->music--smart-image#playRequest"
        } %>
  <% else %>
    <div class="rounded-lg w-full aspect-square border-2 border-gray-200 cursor-pointer bg-gray-800 flex items-center justify-center hover:border-sky-400 transition-colors"
         data-music__smart_image_target="playButton"
         data-action="click->music--smart-image#playRequest">
      <svg class="w-8 h-8 md:w-12 md:h-12 text-gray-600" fill="currentColor" viewBox="0 0 20 20">
        <path d="M18 3a1 1 0 00-1.196-.98l-10 2A1 1 0 006 5v9.114A4.369 4.369 0 005 14c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V7.82l8-1.6v5.894A4.37 4.37 0 0015 12c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V3z"></path>
      </svg>
    </div>
  <% end %>
</div>
