<!--The stimulus data is left in the drop down menu. Add the data controller actions-->
<!-- //? Sticky Top Navbar -->
<div class="fixed top-0 z-50 w-full" data-controller="navbar">
  <nav class="relative flex justify-center items-center p-4 h-20 w-full bg-hermit-dk-green shadow-md shadow-hermit-burnt">
    <div class="flex justify-evenly items-center w-full lg:max-w-4xl">
      <!-- //? Left section links home -->
      <div class="flex justify-center items-center ms-4">
        <%= link_to root_path, class: "p-2 rounded-full bg-hermit-lt-green items-center me-2" do %>
          <%= image_tag "RogueMediaLab.png", alt: "hermit plus logo", class: "w-10" %>
        <% end %>
        <%= link_to hermits_path do %>
          <span class="w-1/2 md:w-4/6 lg:w-full font-kanit text-3xl font-extrabold text-hermit-yellow drop-shadow-dark">Hermit Plus</span>
        <% end %>
      </div>
      <!-- //? Right section Page Links -->
      <div class="flex grow justify-end items-center me-4">
        <ul class="flex space-x-4 font-kanit text-hermit-yellow">
          <li class="hidden md:flex"><%= link_to "Season 8", root_path %></li>
        </ul>
        <button class="md:hidden pb-1 w-6" role="button" aria-label="menu" data-action="click->navbar#toggleMenu">&#9776</button>
      </div>
    </div>
  </nav>
  <!-- //? Dropdown menu - mobile -->
  <nav class="hidden bg-zinc-800 text-gray-100 absolute w-2/3 right-0 overflow-y-auto rounded-b-sm" data-navbar-target="mobileMenu">
    <ul class="flex flex-col py-2 px-3">
      <%= link_to root_path do %>
        <li class="flex border p-2 my-1 rounded-xs">Season 8</li>
      <% end %>
    </ul>
  </nav>
</div>