<section class="flex flex-col justify-center items-center w-full mt-4">
  <div class="w-full max-w-4xl p-4">
    <div class="flex justify-between items-center">
      <h1 class="text-3xl text-left my-2">Songs</h1>

      <%= link_to "Add New Song", new_milk_admin_song_path, class: "flex justify-center items-center border border-pill-blue h-fit w-fit rounded-md px-4 py-1" %>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center">
    <% @songs.each do |song| %>
      <div class="flex flex-col justify-between h-[400px] m-1 bg-white border border-gray-200 rounded-lg shadow-xs dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <% if song.image.attached? %>
              <%= image_tag url_for(song.image), class: "rounded-t-lg h-44 w-full object-cover" %>
            <% else %>
              <div class="h-44 w-full bg-gray-200 flex items-center justify-center rounded-t-lg">
                <span class="text-gray-500">No Image</span>
              </div>
            <% end %>
          </a>
          <div class="p-1 h-full">
              <a href="#">
                <h5 class="mb-2 font-bold tracking-tight text-gray-900 dark:text-white">
                  <%= song.artist_name %>
                </h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= song.title %></p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= song.album_title %></p>
            </div>
            <div class="flex justify-evenly bg-gray-700 rounded-b-md w-full p-2">
              <!--Edit link-->
              <%= link_to edit_milk_admin_song_path(song), class: "inline-flex items-center py-2 px-3 text-sm font-medium text-center text-gray-200 rounded-lg bg-blue-600 hover:bg-blue-700" do %>
                <svg class="w-6 h-6 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                </svg>
              <% end %>
              <!--Delete Button-->
              <%= button_to milk_admin_song_path(song), class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-gray-200 rounded-lg bg-red-600 hover:bg-red-700", method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
                <svg class="w-6 h-6 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                </svg>
              <% end %>
            </div>
      </div>

    <% end %>
  </div>
</section>