<div id="header" class="mt-8 <%= responsive_width_class %>" data-controller="navbar">
  <header class="w-full relative">
    <div class="block rounded-t-lg bg-white">
      <div class="flex items-center justify-between">
        <%= link_to salt_and_tar_index_path, class: "relative mt-1 ml-1" do %>
          <%= image_tag("saltandtar/logo.svg", class: "block ml-5") %>
        <% end %>
        <div class="cursor-pointer" aria-label="menu" data-action="click->navbar#toggleMenu">
          <%= image_tag("saltandtar/menu.svg", class: "relative mt-1 mr-8") %>
        </div>
      </div>
    </div>
    <!-- Dropdown menu -->
    <nav class="hidden z-20 bg-swabbie-st-lt-secondary absolute w-2/3 md:w-1/3 right-0 overflow-y-auto rounded-b-md"
         data-navbar-target="mobileMenu">
      <ul class="flex flex-col py-2 px-3">
        <li><%= link_to "Home", salt_and_tar_index_path, data: { turbo_frame: "salt_and_tar_content" }, class: "flex p-2 my-1 hover:bg-gray-50 rounded-sm" %></li>
        <hr/>
        <li><%= menu_link("Videos", salt_and_tar_index_path) %></li>
        <li><%= link_to "Archive", archive_salt_and_tar_index_path, data: { turbo_frame: "salt_and_tar_content" }, class: "flex p-2 my-1 hover:bg-gray-50 rounded-sm" %></li>
        <li><%= menu_link("Merchandise", salt_and_tar_index_path) %></li>
        <li><%= link_to "Bookings", booking_salt_and_tar_index_path, data: { turbo_frame: "salt_and_tar_content" }, class: "flex p-2 my-1 hover:bg-gray-50 rounded-sm" %></li>
        <li><%= menu_link("Thoughts", salt_and_tar_index_path) %></li>
        <hr/>
        <% if user_signed_in? %>
          <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "flex p-2 my-1 hover:bg-gray-50 rounded-sm cursor-pointer" %></li>
        <% else %>
          <li><%= menu_link("Log In", new_user_session_path) %></li>
        <% end %>
      </ul>
    </nav>
  </header>
</div>