<% content_for :body_class, "bg-st-drk-primary" %>
<div class="bg-swabbie-st-drk-primary flex flex-col justify-center items-center w-full text-base-dark">
  <%= render "header" %>
  <section>
    <%= render "hero" %>
    <%= turbo_frame_tag "salt_and_tar_content" do %>
      <%= render "promotion" %>
    <% end %>
    <%= render "features" %>
    <%= render "video" %>
  </section>
  <%= render "footer" %>
</div>