<% content_for :body_class, "bg-st-drk-primary" %>
<section class="bg-swabbie-st-drk-primary flex flex-col justify-center items-center w-full text-base-dark">
  <%= render "header" %>
  <%= render "hero" %>
  <%= render "promotion" %>
  <%= render "features" %>
  <%= render "video" %>
</section>
